@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
:root {
    --brand-color: #19C7A9;
    --dark-color: #302A38;
    --mid-color: #55505C;
    --light-color: #FFFFFF;

    --background-color:#EBEBEB;
    --background-color2:#118571;
}

* {
    letter-spacing: 1.2px;
    animation: transition 1s;
    transition-duration: 300ms;
    font-family: 'Tilt Warp', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section:nth-child(even){
    background-color:var(--background-color2);
    min-height: 150vh;
}
svg{
    position: relative;
}
section{
    background-color: var(--background-color);
    min-height: 100vh;
}
.navbar{
    background-color:var(--brand-color);
    padding:0.8rem;
    color:var(--light-color);
    display: flex;
    text-align: center;
    font-weight: 600;
}
.whatis{
    color: var(--light-color);
    margin-top:4rem;
}
.whatis h1{
    text-align: center;
    font-size: 1.5rem;
}
.whatis p{
    text-align: justify;
    font-size: 1.2rem;
    margin-top:2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
h1,p{
    padding-top: 2rem;
    text-align: center;
}
.list,li{
    padding:1rem;
    margin: 1rem;
}

#menu{
    padding: 0.7rem;
    margin: auto;
    background-color: var(--brand-color);
    font-size: 1.5rem;
    display:none;
}
#menu:active{
    border-radius: 0.6rem;
    background-color: var(--background-color2);
}
.hiddennav{
    display: none;
}
.showed{
    display: flex;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 10;
    background-color: var(--brand-color);
    color:var(--light-color);
    padding:1rem;
    margin: auto;
    flex-direction: column;
}
.showed a{
    padding:1rem;
}
@media(min-width:900px){
    .navbar a{
        display:flex;
        margin: auto;
    }
}
@media(max-width:900px){
    .homesection{
        font-size: 18px;
    }
    .homesection h1{
        font-size: 30px;
        letter-spacing: 1px;
    }
    .homesection p{
        font-size: 25px;
    }
    .navbar a{
        display: none;
    }
    #menu{
        display:flex;
    }
    .earthimg{
        width: auto;
        border-radius: 0.6rem;
        box-shadow: 1px 0.2px 10px 3px var(--dark-color);
        height: 300px;
        display: flex;
        margin: auto;
        margin-top:5rem;
    }
}
@keyframes transition {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}